/* ************
    global variable
    ************ */
:root {
	--primary: #ff5500;
	--primary-darker: #E7000B;
	--secondary: #364153;
	--surface: #fff7edi;
	--bg-w: #FFFFFF;
	--bg-d: #000000;
	--bg-N: #ECEBE9;
	--white: #FFFFFF;
	--black: #000000;
	--text: #334155;
	--text-light: #4A5565;
	--text-label: #808080;
	--grey-lighter: #D1D5DC;
	--green: #dcfce7; 
	--blue: #dbeafe;
	--blue-darker: #155DFC;
	--green-darker: #016630;
	--radius: 12px;
	--shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
	--shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
	/**** Font and typography ****/
	--font: 'Outfit', sans-serif;
	--fs-h1: 2.986rem;
  --fs-h2: 2.488rem;
  --fs-h3: 2.074rem;
  --fs-h4: 1.728rem;
  --fs-h5: 1.44rem;
  --fs-h6: 1.2rem;
  --fs-p: 1rem;
  --fs-small: 0.833rem;
	--fs-small-2: 0.694rem;
	/*Font Size
	--normal-font-size: ;
	--h1-font-size: ;*/
	/*Font weight*/
	--font-regular: 400;
	--font-medium: 500;
	--font-bold: 700;
	--transition: all 0.3s ease;
	
}

/* ************
    Responsive typography
    ************ */


@media screen and (max-width: 330px) {
	:root {}
}

@media screen and (min-width: 540px) {
	:root {}
}

@media (min-width: 768px) {
  :root {
    /* Desktop scale */
    --fs-h1: 3.815rem;
    --fs-h2: 3.052rem;
    --fs-h3: 2.441rem;
    --fs-h4: 1.953rem;
    --fs-h5: 1.563rem;
    --fs-h6: 1.25rem;
    --fs-p: 1rem;
    --fs-small: 0.8rem;
    --fs-small-2: 0.64rem;
  }
}

/* ************
    BASE
    ************ */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--font);
	/* font-size: var(--normal-font-size); */
	background: var(--bg); 
	color: var(--text); 
	line-height: 1.6;
}

h1,
h2,
h3,
h4 {
	color: var(--title-color);
	font-family: var(--font);
	font-weight: var(--font-medium);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	background-color: transparent;
	color: var(--secondary);
	font-size: var(--fs-h6);
	font-weight: normal;
	transition: var(--transition);
	position: relative;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}
button {
  appearance: none;
  border: none;
  padding: 0;
  background: none;
  font: inherit;
	cursor: pointer;
}

/* ************
    REUSABLE CSS CLASSES
    ************ */
.mb-4 { margin-bottom: 1.5rem; }
.text-center { text-align: center; }
.container {
	max-width: 1120px;
	margin-inline: auto;
}

.flex {display: flex;}
.flex-space {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.flex-col {
	display: flex;
	flex-direction: column;
}
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.grid {
	display: grid;
	gap: 1.5rem;
}
.gap-1 {
	gap: .3em;
}

/* .section {
	padding-block: em em;
} */

.section__title {
	text-align: center;
	font-size: var(--fs-h1);
	margin-bottom: 1.5rem;
}

.main {
	overflow: hidden;
}



/***********
    HEADER & NAV 
    ***********/
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: white;
	z-index: 100;
	padding: 2em 0;
	box-shadow: var(--shadow);
}
.nav__list{
	gap: 1.5em;
}
.nav__logo {
	font-size: var(--fs-h4);
	font-weight: var(--font-bold);
	color: var(--black);
}
.auth-list{
	gap: 0.3em;
}
.nav_ul{
	width: 50%;
}
.nav__links:hover {
  color: var(--primary);
}
.nav__links::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--primary);
  transition: var(--transition);
}
.nav__links::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--primary);
  transition: var(--transition);
}
.nav__links:hover::after {
	width: 100%;
}
.btn{
	padding: 0.6em 1em;
	border-radius: var(--radius);
	border: 1px solid var(--primary);
}
.log_btn{
	
	color: var(--primary);
}
.sign_btn{
	background-color: var(--primary);
	color: var(--white);
}

.profile{
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-color: var(--primary);

}
.profile span{
	color: var(--white);
}


/* Navigation for mobile devices */
@media screen and (max-width:1150px) {

	/* لي فيها ul list */
	.nav__menu {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
	}
}

/* Show menu */

.show-menu {
	top: 0px;
}

/* Responsive header */
@media screen and (max-width: 330px) {}

@media screen and (min-width: 540px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1150px) {}

/***********
    main 
    ***********/



/***********
    footer 
    ***********/